* {
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    background: #cecdcd;
}

main {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}

.page {
    margin-top: 20px;
    max-width: 700px;
    padding: 100px;
    height: 900px;
    box-shadow: 0 0 10px #000;
    background: #ffffff;
}

.content {
    position: fixed;
    top: 0px;
    right: 200px;
    max-width: 700px;
}

h2 {
    margin-bottom: 20px;
}

aside {
    margin-bottom: 20px;
}