* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Arial", sans-serif;
  background: #272525;
}

.main {
  width: 100%;
  max-width: 1200px;
  margin: 100px auto;
  height: 675px;
  background: #f6f6f6;
  padding: 86px 95px;
}

.card {
  padding-right: 80px;
  display: inline-block;
  background: #ffffff;
}

.card__image {
  width: 376px;
  height: 375px;
  float: left;
  margin: 64px 99px 64px 47px;
}

.card__name {
  margin: 94px 0 31px;
  font-size: 22.5px;
  font-weight: bold;
}

.card__description {
  height: 87px;
  margin-bottom: 18px;
}

.card__description,
.card__prise-text {
  font-size: 15px;
}

.card__prise {
  font-size: 30px;
  margin: 18px 0 36px;
}

.card__button {
  padding: 16px 39px;
  color: #ffffff;
  font-size: 18.75px;
  background: #ec744a;
}
